html {
  font-family: Merriweather, serif;
}

body {
  margin: 0;
}

.skip-links {
  display: none;
}

li {
  display: inline-block;
}

li a:hover {
  color: #5D839D;
}

.nav {
  position: relative;
  background-color: #F7F7F7;
  z-index: 2;
}

.nav a {
  color: #000000;
  text-decoration: none;
}

.masthead {
  background-color: #000000;
  color: #fff;
}

.banner-content {
  position: absolute;
  color: #fff;
  top: 4.5em;
  right: 0;
  width: 100%;
  background-size: cover;
}

.relative {
  position: relative;
  display: block;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
}

.learn {
  background-color: #000;
  border: none;
}

.green {
  background-color: #959B67;
  border: none;
}

.blue {
  background-color: #5D839D;
  border: none;
}

.card-g {
  background-color: #C7CBA8;
  border-radius: 2px;
  display: inline-block;
}

.card-b {
  background-color: #BDCDD8;
  border-radius: 2px;
  display: inline-block;
}

.end {
  background-color: #DDDDE0;
}
