html {
  font-family: "Roboto", sans-serif;
}

.skip-links {
  display: none;
}

h1 {
  font-family: Merriweather, serif;
}

li {
  display: inline-block;
}

li:hover {
  color: #fff;
  background-color: #747476;
  border-radius: 2px;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.nav {
  position: relative;
  background-color: #f7f7f7;
  z-index: 2;
  top: 100%;
  right: 0;
}

.nav a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: .5em;
}

.masthead {
  background-color: #000;
  color: #fff;
}

.banner-content {
  position: absolute;
  color: #fff;
  top: 4.5em;
  right: 0;
  width: 100%;
  background-size: cover;
}

.rescue-content {
  position: absolute;
  color: #fff;
  top: 5em;
  width: 100%;
  background-size: cover;
}

.relative {
  position: relative;
  display: block;
  overflow: hidden;
}

.learn {
  background-color: #000;
  border: none;
}

.green {
  background-color: #959b67;
  border: none;
}

.blue {
  background-color: #5d839d;
  border: none;
}

.card-g {
  background-color: #c7cba8;
  border-radius: 2px;
  display: inline-block;
}

.card-b {
  background-color: #bdcdd8;
  border-radius: 2px;
  display: inline-block;
}

hr {
  color: #909090;
}

.end {
  background-color: #000;
}

input, select, textarea {
  border-radius: 3px;
}

.white-type {
  color: #fff;
}

.green-type {
  color: #959b67;
}

.blue-type {
  color: #5d839d;
}

.home {
  text-decoration: none;
  color: #fff;
}

.pic {
  width: 75%;
  height: 75%;
  margin-left: 2em;
}

.sign-up {
  background-color: #747476;
  border: none;
}

.destination {
  background-color: #f7f7f7;
  width: 100%;
}
